table {
    border: 1px solid #000000 !important;
}

th, td{
    width: 20%;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: rgb(255, 251, 212); 
 }